<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <title> Thyroid disease prediction app </title>
</head>
<body>

    <p class="navbar navbar-default navbar-fixed-top bg-dark text-white">
        <br>
    </p>

    <div class="container">
        <ul class="nav nav-tabs bg-light">
            <li class="nav-item">
                <a class="nav-link active text-dark" id="algorithms-tab" data-toggle="tab" href="#algorithms" role="tab" aria-controls="algorithms" aria-selected="true">Algoritmi mašinskog učenja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="training-results-tab" data-toggle="tab" href="#training_results" role="tab" aria-controls="training_results" aria-selected="false">Rezultati obučavanja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="testing-results-tab" data-toggle="tab" href="#testing_results" role="tab" aria-controls="testing_results" aria-selected="false">Rezultati testiranja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="predict-page-tab" data-toggle="tab" href="#predict_page" role="tab" aria-controls="predict_page" aria-selected="false">Prediktuj nove vrednosti</a>
            </li>
        </ul>
        <div class="tab-content fill" id="tabsContent">

            <!--
             Algorithms tab
             Show information about used algorithms
            -->
            <div class="tab-pane fade show active bg-light fill" id="algorithms" role="tabpanel" aria-labelledby="algorithms-tab">

                <div id="carouselForAlgorithmInfo" class="carousel slide fill" data-ride="carousel">
                  <div class="carousel-inner fill bg-light">
                    <div class="carousel-item fill active">

                        <div class="fill algorithm-info-container bg-light justify-content-center text-center">

                            <h5> Algoritam K najbližih suseda </h5>
                            <i> - K nearest neighbours algorithm - </i>

                            <br><br>
                            U prepoznavanju obrazaca, k-najbližih suseda (ili skraćeno k-NN) predstavlja neparametarski metod koji se koristi za klasifikaciju i regresiju. U oba slučaja, ulaz se sastoji od k najbližih test primera u funkciji prostora. Izlaz zavisi od toga da li se k-NN koristio za klasifikaciju ili regresiju:

                            U k-NN klasifikaciji, izlaz je član klase. Objekat se klasifikuje glasovima većine svojih suseda, tako da objekat bude raspoređen u klasu najčešću među svojim k najbližim susedima (k je pozitivan ceo broj, najčešće mali broj). Ako je k = 1, onda se objekat jednostavno dodeljuje klasi tog jednog najbližeg suseda.
                            U k-NN regresiji, izlaz predstavlja vrednost objekta. Ova vrednost predstavlja prosek vrednosti njegovih k najbližih suseda.
                            k-NN je tip učenja koje se zasniva na primerima, ili tzv. lenjo učenje, gde je aproksimacija funkcije lokalna i sva izračunavanja odlažu do klasifikacije. The k-NN algoritam je najjednostavniji od svih algoritama mašinskog učenja.
                            <br> <br> <br> <br>

                            {% load static %}
                            <img src="{% static 'images/info/knn_algorithm.png' %}" alt="K nearest neighbours algorithm info image" class="img-thumbnail rounded float-center w-50">
                            <br>
                            <i> Određivanje pripadnosti klasi instance prema susedskim klasama </i>
                            <br><br><br>

                             <div class="justify-content-center about-parameters float-center">
                                <p class="font-weight-bold">Na tačnost predviđanja utiču parametari <br> kao što su:</p>
                                <ul class="text-left">
                                  <li> k - broj najbližih suseda čije se predikcije posmatraju </li>
                                  <li> način računanja distance između dva suseda na osnovu njihovih karakteristika (Euklidska distanca, Menhetn distanca, Minkowski distanca)</li>
                                </ul>
                            </div>
                            <br><br><br>
                        </div>
                    </div>
                    <div class="carousel-item fill">
                        <div class="fill algorithm-info-container bg-light justify-content-center text-center">

                            <h5> Algoritam stabla odlučivanja </h5>
                            <i> - Decision tree algorithm -  </i>

                            <br><br>
                            Stabla odlučivanja predstavljaju jedan od oblika nadgledanog učenja, a najčešće se koriste kod problema klasifikacije.
                            Stablo odlučivanja je dijagram nalik strukturi u kojoj je svaki unutrašnji čvor predstavlja čvor odluke, a svaki spoljašnji čvor predstavlja čvor predikcije.
                            Putanje od korena do lista predstavljaju pravila klasifikacije.
                            Postoje klasifikaciona stabla, kod kojih je izlazna promenljiva kategoričkog tipa i regresivna stabla, kod kojih je izlazna promenljiva kontinualnog tipa.
                            <br> <br> <br> <br>

                            {% load static %}
                            <img src="{% static 'images/info/decision_tree_algorithm.png' %}" alt="DT algorithm info image" class="img-thumbnail rounded float-center w-50">
                            <br>
                            <i> Određivanje pripadnosti klasi instance pomoću klasifikacionog stabla odlučivanja </i>
                            <br><br><br>

                            <div class="justify-content-center about-parameters float-center">
                                <p class="font-weight-bold">Na tačnost predviđanja stabla najviše utiču parametri <br> pomoću kojih se formira stablo odlučivanja, kao što su:</p>
                                <ul class="text-left">
                                  <li>maksimalna dubina stabla</li>
                                  <li>minimalni broj podataka u okviru čvora</li>
                                  <li>metod na osnovu koga se vrši račvanje čvorova (Gini indeks, Entropija)</li>
                                </ul>
                            </div>
                            <br><br><br>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="fill algorithm-info-container bg-light justify-content-center text-center">

                            <h5> Algoritam slučajnih šuma </h5>
                            <i> - Random forest algorithm -  </i>

                            <br><br>
                            Algoritam slučajnih šuma predstavlja algoritam nadgledanog učenja, koji upravlja ulaznim atributima i koristi klasifikatore zasnovane na stablima odlučivanja u osnovi.
                            Prilikom kreiranja svakog zasebnog stabla odlučivanja se ne koriste svi atributi, a ni svi ulazni podaci skupa podataka za obučavanje.
                            Korišćenjem većeg broja klasifikacionih stabala postiže se poboljšanje tačnosti klasifikacije, a predikcija se vrši na osnovu kombinovanja prediktovanih vrednosti
                            pomenutih klasifikatora. Ovaj algoritam može se koristiti i kod regresivnih problema.
                            Prednost ovog algoritma se ogleda u paralelnoj klasifikaciji, te je ovaj algoritam dosta brži od pomenutog algoritma K najbližih suseda.
                            <br> <br> <br> <br>

                            {% load static %}
                            <img src="{% static 'images/info/random_forest_algorithm.png' %}" alt="RF algorithm info image" class="img-thumbnail rounded float-center w-50">
                            <br>
                            <i> Određivanje pripadnosti klasi instance pomoću algoritma slučajnih šuma </i>
                            <br><br><br>

                            <div class="justify-content-center about-parameters float-center">
                                <p class="font-weight-bold">Na tačnost predviđanja slučajnih šuma najviše utiču parametri <br> pomoću kojih se formira šuma stabala, kao što su:</p>
                                <ul class="text-left">
                                  <li> maksimalna dubina stabla </li>
                                  <li> minimalni broj podataka u okviru čvora </li>
                                  <li> metod na osnovu koga se vrši račvanje čvorova (Gini indeks, Entropija) </li>
                                  <li> broj stabala u slučajnoj šumi </li>
                                  <li> broj podataka u bootstrap skupu </li>
                                  <li> broj atributa izabranih prilikom procesa kreiranja slučajne šume </li>
                                </ul>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                      <div class="carousel-item">
                        <div class="fill algorithm-info-container bg-light justify-content-center text-center">

                            <h5> Naivni Bajesov klasifikator </h5>
                            <i> - Naive Bayes classifier -  </i>

                            <br><br>
                            Naivni Bajesov klasifikator predstavlja algoritam nadgledanog učenja koji donosi klasifikacionu odluku na osnovu klase koja je za njega najverovatnija, odnosno koja ima najveću aposteriornu verovatnoću.
                            Ovim klasifikatorom se uvode pretpostavke da su svi atributi podjednako važni, kao i da su oni međusobno nezavisni - vrednost jednog atributa ne govori ništa o vrednosti drugog atributa.
                            Ukoliko su atributi numeričke vrednosti, primenljuje se raspodela verovatnoća atributa za procenu verovatnoće atributa u skupu podataka.
                            <br> <br> <br> <br>

                            {% load static %}
                            <img src="{% static 'images/info/naive_bayes_algorithm.png' %}" alt="Naive Bayes algorithm info image" class="img-thumbnail rounded float-center w-50">
                            <br>
                            <i> Određivanje pripadnosti klasi instance pomoću Naivnog Bajesovog klasifikatora </i>
                            <br><br><br>

                            Ovaj klasifikator ne koristi dodatne parametre u procesu klasifikacije.
                        </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev " href="#carouselForAlgorithmInfo" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselForAlgorithmInfo" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>

            </div>

            <!--
             Training results tab
             Show training results for used thyroid dataset with parameters which were used in training process
             -->
            <div class="tab-pane fill bg-light" id="training_results" role="tabpanel" aria-labelledby="training-results-tab">
                <br><br><br>
                <h5 class="text-center">Metrike dobijene u procesu obučavanja <br> nad početnim skupom podataka</h5><br>
                <div class="container fill bg-light justify-content-center">

                    <br>
                    <table class="metrics-table table text-center">
                      <thead>
                            <tr>
                                <th scope="col"> Metrike algoritama mašinskog učenja </th>
                                <th scope="col"> K najbližih suseda </th>
                                <th scope="col"> Stabla odlučivanja </th>
                                <th scope="col"> Slučajna šuma </th>
                                <th scope="col"> Naivni Bajesov klasifikator </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"> Tačnost <br> [<i>Accuracy</i>] </th>
                                <td>77.269%</td>
                                <td>88.069%</td>
                                <td>90.745%</td>
                                <td>67.941%</td>
                            </tr>
                            <tr>
                                <th scope="row"> Prezinost <br> [<i>Precision</i>] </th>
                                <td>77.57%</td>
                                <td>88.743%</td>
                                <td>90.862%</td>
                                <td>69.717%</td>
                            </tr>
                            <tr>
                                <th scope="row"> Recall metrika <br> [<i>Recall</i>] </th>
                                <td>77.071%</td>
                                <td>87.967%</td>
                                <td>90.639%</td>
                                <td>67.593%</td>
                            </tr>
                            <tr>
                                <th scope="row"> F1 metrika <br> [<i>F1 score</i>] </th>
                                <td>76.387%</td>
                                <td>87.865%</td>
                                <td>90.577%</td>
                                <td>67.682%</td>
                            </tr>
                            <tr>
                                <th scope="row"> Senzitivnost <br> [<i>Sensitivity</i>] </th>
                                <td>77.071%</td>
                                <td>87.967%</td>
                                <td>90.639%</td>
                                <td>67.593%</td>
                            </tr>
                      </tbody>
                    </table>
                    <br><br>

                    <div style="margin-left: 50px; margin-right: 50px; text-align: center;">
                        <i> Prilikom proces obučavanja modela, izabrani su parametri koji utiču na metriku evaluacije i predikcije.<br> Za svaki algoritam data je vrednost izabranih parametara u nastavku za koje ovi algoritmi daju najbolju tačnost. </i>
                    </div>

                    <br><br>
                    <div style="margin-left: 50px; margin-right: 50px">
                        <p>
                            <button class="btn btn-dark text-light" type="button" data-toggle="collapse" data-target="#knnParameters" aria-expanded="false" aria-controls="collapseExample">
                                KNN parametri
                            </button>
                            <button class="btn btn-dark text-light" type="button" data-toggle="collapse" data-target="#dtParameters" aria-expanded="false" aria-controls="collapseExample">
                                Stabla odlučivanja parametri
                            </button>
                            <button class="btn btn-dark text-light" type="button" data-toggle="collapse" data-target="#rfParameters" aria-expanded="false" aria-controls="collapseExample">
                                Slučajne šume parametri
                            </button>
                            <button class="btn btn-dark text-light" type="button" data-toggle="collapse" data-target="#nbcParameters" aria-expanded="false" aria-controls="collapseExample">
                                Naivni Bajesov klasifikator parametri
                            </button>
                        </p>
                        <div class="collapse" id="knnParameters">
                            <br>
                            <div class="card card-body justify-content-center">
                                <div style="text-align:center; margin-left: 50px; margin-right: 50px;">
                                    <br>
                                    Prilikom procesa obučavanja modela generisan je grafik koji predstavlja zavisnost tačnosti (<i>Accuracy</i>) evaluacije od izbora broja
                                    najbližih suseda (<i>K</i>) čiji će podaci uticati na samu evaluaciju.
                                    <br><br>
                                </div>

                                <!-- Button which opens modal for KNN training plot -->
                                <button type="button" class="btn btn-light text-dark" data-toggle="modal" data-target="#knnDependencyPlot" style="width:135px; border-color:black; margin-left: 800px;">
                                  Pogledaj grafik
                                </button>

                                <br>

                                <div class="card">
                                    <div class="card-body">
                                        <a href="#" class="badge badge-danger" style="font-size:110%;"> K - 71 </a>
                                        <a href="#" class="badge badge-danger" style="font-size:110%;"> Formula za razdaljinu - Euklidska </a>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="knnDependencyPlot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-md" role="document" style="min-width: 1000px ! important;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle"> Grafik zavisnosti K od tačnosti pri obučavanju KNN modela </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="{% static '/training_evaluation_images/knn_k_metrics_manually.png' %}" class="img-thumbnail rounded float-center w-200"/>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="dtParameters">
                            <div class="card card-body">
                                <div style="text-align:center; margin-left: 50px; margin-right: 50px;">
                                    <br>
                                     Prilikom procesa obučavanja modela generisano je stablo odlučivanja za svaku grupu trening podataka, pomoću kojeg je određivana metrika nad validacionim podacima.
                                     Tehnikom post-pruning se izvršeno <i>orezivanje</i> stabala, kako bi se unapredila tačnost evaluacije modela.
                                    <br><br>
                                </div>
                                <br>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Maksimalna dubina stabla - 8 </a>
                                        <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Minimalan broj uzoraka po čvoru odluke - 2 </a>
                                         <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Kalkulaciona funkcija metrike - Entropija </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="rfParameters">
                            <div class="card card-body text-center">
                                 <div style="text-align:center; margin-left: 50px; margin-right: 50px;">
                                    <br>
                                     Prilikom procesa obučavanja modela generisano je stablo odlučivanja za svaku grupu bootstrap podataka, pomoću kojeg je određivana metrika nad validacionim podacima.
                                     Tehnikom post-pruning se izvršeno <i>orezivanje</i> stabala, kako bi se unapredila tačnost evaluacije modela.
                                    <br><br>
                                </div>
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Broj stabala slučajne šume - 50 </a>
                                        <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Maksimalna dubina stabla - 8 </a> <br>
                                        <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Minimalan broj uzoraka po čvoru odluke - 2 </a>
                                         <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Kalkulaciona funkcija metrike - Entropija </a> <br>
                                        <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Broj atributa - ukupan broj </a>
                                         <a href="#" class="badge badge-danger" style="font-size:110%; margin: 4px;"> Broj podatak u bootstrap skupu - 400 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="nbcParameters">
                            <div class="card card-body">
                                Ovaj algoritam ne koristi dodatne parametre prilikom procesa obučavanja i testiranja.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--
             Test results tab
             Show test results for used thyroid dataset
            -->
            <div class="tab-pane fade fill bg-light" id="testing_results" role="tabpanel" aria-labelledby="testing-results-tab">
                <br><br><br>
                <h5 class="text-center">Metrike dobijene u procesu testiranja <br> nad početnim skupom podataka</h5><br>
                 <div class="container fill bg-light">

                    <br>
                    <table class="metrics-table table text-center">
                      <thead>
                            <tr>
                                <th scope="col"> Metrike algoritama mašinskog učenja </th>
                                <th scope="col"> K najbližih suseda </th>
                                <th scope="col"> Stabla odlučivanja </th>
                                <th scope="col"> Slučajna šuma </th>
                                <th scope="col"> Naivni Bajesov klasifikator </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"> Tačnost <br> [<i>Accuracy</i>] </th>
                                <td>73.245%</td>
                                <td>68.58%</td>
                                <td>84.930%</td>
                                <td>59.744%</td>
                            </tr>
                            <tr>
                                <th scope="row"> Prezinost <br> [<i>Precision</i>] </th>
                                <td>73.381%</td>
                                <td>71.4%</td>
                                <td>84.857%</td>
                                <td>65.802%</td>
                            </tr>
                            <tr>
                                <th scope="row"> Recall metrika <br> [<i>Recall</i>] </th>
                                <td>73.082%</td>
                                <td>68.094%</td>
                                <td>84.727%</td>
                                <td>59.434%</td>
                            </tr>
                            <tr>
                                <th scope="row"> F1 metrika <br> [<i>F1 score</i>] </th>
                                <td>72.069%</td>
                                <td>65.685%</td>
                                <td>84.215%</td>
                                <td>57.797%</td>
                            </tr>
                            <tr>
                                <th scope="row"> Senzitivnost <br> [<i>Sensitivity</i>] </th>
                                <td>73.082%</td>
                                <td>68.094%</td>
                                <td>84.727%</td>
                                <td>59.434%</td>
                            </tr>
                      </tbody>
                    </table>
                </div>

            </div>

            <!--
             Predict tab
             Predict with new dataset imported from CSV
            -->
            <div class="tab-pane fade fill bg-light" id="predict_page" role="tabpanel" aria-labelledby="predict-page-tab">
                <br><br><br><br>
                <div class="card text-white border-dark m-5">
                    <div class="card-header text-dark">
                        Predikcija oboljenja nad novim skupom podataka za pacijente
                    </div>
                    <div class="card-body text-dark d-flex justify-content-center">
                        <blockquote class="blockquote mb-0">
                          <p> CSV fajl treba da sadrži iste kolone kao i početni skup podataka nad kojim je izvršeno obučavanje </p>
                            <br>
                            <form action="see_prediction_results" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <select class="form-control bg-light text-dark" id="algoritmListId" name="nameOfAlgorithm" placeholder="Izaberite algoritam za predikciju..."
                                                style="width:200px; border-color:black;">
                                            {% for algorithm_nickname, algorithm_name in algorithms.items %}
                                                <option value="{{ algorithm_nickname }}"> {{ algorithm_name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <input type="file" name="datasetTestFile" id="formFileMultiple" style="width:300px; margin-left: 70px; margin-top: 2px;" class="form-control-sm"
                                        placeholder="Izaberite testni CSV fajl"/>
                                </div>
                              <br>
                                <button type="submit" id="predict-button" class="btn btn-outline-dark" style="margin-left:42%" type="submit">
                                    Prediktuj
                                </button>
                            </form>
                            <br><br><br>
                          <footer class="blockquote-footer text-dark">
                              <i> Učitajte CSV fajl kako biste omogućili predikciju </i>
                          </footer>
                        </blockquote>
                    </div>
                </div>

                {% if request.session.data %}
                <div class="container bg-light">
                    <br><br>

                    <div class="container" id="container_for_resulting_table">
                          <h4 class="text-center"><u> Skup podataka o pacijentima i predikcije njihovih dijagnoza </u></h4><br>
                          <table class="table" id="result_table">
                            <thead>
                              <tr>
                                  <th> Godine </th>
                                  <th> Pol </th>
                                  <th> Query <br> Hyperthyroid </th>
                                  <th> TSH </th>
                                  <th> T3 </th>
                                  <th> TT4 </th>
                                  <th> T4U</th>
                                  <th> FTI </th>
                                  <th> Prediktovana <br> dijagnoza </th>
                                  <th> Stvarna <br> dijagnoza </th>
                              </tr>
                            </thead>
                            <tbody>
                            {% if request.session.data  %}
                            {% for i in data %}
                              <tr>
                                <td>{{i.age}}</td>
                                <td>
                                    {% if i.sex == 0 %}
                                     Ž
                                    {% else %}
                                     M
                                    {% endif %}
                                </td>
                                <td>{{i.on_thyroxine}}</td>
                                <td>{{i.TSH}}</td>
                                <td>{{i.T3}}</td>
                                <td>{{i.TT4}}</td>
                                <td>{{i.T4U}}</td>
                                <td>{{i.FTI}}</td>
                                <td>{{i.predicted_values}}</td>
                                <td>{{i.actual_values}}</td>
                              </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                          </table>
                        <br><br>
                        <div style="text-align:center">
                          <h5>  <i>Tačnost predikcije: <b> {{ request.session.accuracyMetric }} </b> </i>  </h5>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready( function () {
            var table = $('#result_table').DataTable({
                searching: false,
                ordering: false,
                pagingType: "numbers",
                pageLength: 10,
                lengthChange: false,
                "createdRow": function( row, data, dataIndex ) {
                     if (data[8] != data[9])
                     {
                        $( row ).css( "background-color", "Red");
                     }
                }});

            if (!table.data().any()) {
                $('#container_for_resulting_table').hide();
            }

        });
    </script>
</body>
</html>